<!doctype html>

<html ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>template env</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
   
    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->


    

  
</head>
<body>
        <div ng-controller="main" style="text-align: center;">
            <img src="./assets/img/angular.png">
            <h1 class="main" ng-model="appName">{{'Welcom to ' + appName}}</h1>
        </div>
            
</body>
</html>